# Common
NODE_ENV=development

# Postgres
POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_DB=app
DATABASE_URL="postgresql://app:app@db:5432/app?schema=public"

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Patreon
PATREON_CLIENT_ID=
PATREON_CLIENT_SECRET=
PATREON_REDIRECT_URI=http://localhost/auth/patreon/callback

# Hoodpay
HOODPAY_API_KEY=
HOODPAY_WEBHOOK_SECRET=

# Wise
WISE_API_KEY=

# DRM
WV_LICENSE_URL=
WV_SIGNER=
WV_AES_KEY=
WV_AES_IV=
FP_KSM_URL=
FP_HEX_KEY=
FP_HEX_IV=

# CDN
CDN_SIGN_SECRET=

# JWT
JWT_SECRET=changeme
JWT_EXPIRES_IN=1d
